@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');



body {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #888;
}

a {
  text-decoration: none;
  color: #888;
}

li {
  list-style: none;
}


header {
  width: 100%;
  display: inline-block;

  height: 100px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}

header .logo {
  position: absolute;
  padding: 10px 0 0 20px;
}

header .logo img {
  width: 75px;
  height: auto;
  z-index: 2;
}

header .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

header .navbar ul li {
  margin: 30px 20px 0;
}

header .navbar ul li a {
  color: #555;
  font-weight: bold;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #5B8FAD;
}

header .navbar ul li.contact a {
  background-color: #5B8FAD;
  border-radius: 30px;
  color: #fff;
  padding: 15px 25px;
}

header .navbar ul li.contact a:hover {
  opacity: 0.5;
}

header .drawer {
  visibility: hidden;
}


.top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 250px;
  padding: 200px 200px 150px 200px;
  margin: 0 auto;
}

.font1 {
  text-align: center;
}

.font1 p {
  background: -webkit-linear-gradient(35deg, rgb(255, 255, 255), #5B8FAD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  font-size: 50px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 5px;
}

.font1 small {
  font-weight: bold;
  margin-bottom: 25px;

  color: rgba(255, 255, 255, 0.79);
  font-size: 15px;
}

.font2 {
  text-align: center;
}

.font2 p {
  background: -webkit-linear-gradient(35deg, rgb(255, 255, 255), #5B8FAD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  
  margin: 100px 0 10px 0;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 1.3;
}

.font2 small {
  color: rgba(255, 255, 255, 0.53);
  font-size: 15px;
  display: inline-block;
  width: 75%;
  font-weight: 10px;
  line-height: 2;
}


.section {
  position: relative;
  padding: 100px 0;
}

.section::after {
  content: "";
  display: block;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgb(139, 181, 184) 40%, rgb(221, 221, 221));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro {
  background: rgb(221, 221, 221);
}

.intro .inner {
  position: relative;
  z-index: 2;
}

.font3 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  padding: 50px;
}

.font3 small {
  display: block;
  font-size: 11px;
}


.app {
  background: linear-gradient(#fff, rgb(250, 245, 245));
  border-radius: 50px;
  padding: 75px 10px;
  width: 75%;
  margin: 0 auto;
}

.app_wrap {
  width: 75%;
  margin: 0 auto;
}

.font4 {
  font-size: 25px;
  line-height: 1.3;
  padding: 25px 0;
}

.font5 {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.font5 strong {
  color: #5B8FAD;
}

.app .descript {
  font-size: 13px;
  line-height: 2;
}

.app_item img {
  display: block;
  text-align: center;
  width: 250px;
  margin: auto;
  padding-top: 20px;
}

.how {
  background: rgb(221, 221, 221);
}

.how .inner {
  position: relative;
  text-align: center;
  z-index: 2;
}

.how_to {
  background: linear-gradient(#fff, rgb(250, 245, 245));
  width: 38%;
  display: inline-block;
  border-radius: 50px;
  padding: 25px 0 75px 0;
  line-height: 2;
}

.how_list li {
  border: 2px solid #ddd;
  font-size: 16px;
  margin: 0 auto;
  padding: 2px;
  width: 60%;
  border-radius: 10px;
}


.faq {
  background: rgb(221, 221, 221);
}

.faq .inner {
  position: relative;
  z-index: 2;
}

.faq .txt {
  background: linear-gradient(#fff, rgb(221, 221, 221));
  width: 68%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 50px;
}

.faq .txt ul li,
p {
  font-size: 16px;
  line-height: 2.5;
}

.faq .txt ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: rgb(174, 151, 151);
  border-radius: 50%;
  margin-right: 6px;
}

.faq .txt ul p strong {
  color: #5B8FAD;
}

.faq .more {
  text-align: center;
  background: #888;
  width: 17%;
  margin: 25px auto;
  padding: 10px 20px;
  border-radius: 25px;
}

.faq .more:hover {
  opacity: 0.5;
}

.faq .more a {
  color: #fff;
  font-weight: bold;
}


.news {
  background-color: rgb(221, 221, 221);
  padding: 100px 0;
}

.news .inner {
  position: relative;
  z-index: 2;
}

.news .font3 {
  color: #555;
}

.news .txt {
  background: linear-gradient(#fff, rgb(250, 245, 245));
  border-radius: 50px;
  padding: 50px;
  width: 68%;
  margin: 0 auto;
}

.news .txt ul li {
  font-size: 16px;
  line-height: 2;
}

.news .txt ul li strong {
  color: #5B8FAD;
}


.inner .btn {
  background: rgb(221, 221, 221);
  padding-bottom: 100px;
  text-align: center;
  background: #5B8FAD;
  width: 15%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 100px;
}

.inner .btn a {
  color: #fff;
  font-weight: bold;
}


footer {
  background: rgb(255, 255, 255) 40%;
  padding: 25px 0 0 0;
  border-top: solid 3px rgb(139, 181, 184) ;
}

.footer_logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer_logo1 img {
  width: 150px;
}

.footer_logo2 img {
  width: 50px;
}

.pages {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.pages .grid {
  width: 25%;
  margin: 0 auto;
}

.pages .last {
  border-left: 2px solid #555;
  padding-left: 15px;
}

.pages .grid li {
  font-size: 10px;
  margin-bottom: 15px;
}

.pages .grid li a {
  color: #555;
}

.mail {
  font-weight: bold;
  text-align: center;
  font-size: 5px;
  margin-top: 5px;
  color: #555;
}

.copyright {
  text-align: center;
  font-size: 5px;
  color: #555;
}



@media screen and (max-width: 768px) {

header {
  height: 75px;
}

header a.logo {
  top: 0;
  padding: 10px;
}

header .logo img {
  width: 50px;
}

.top {
  display: block;
}
  
.top .inner {
  display: unset;
  margin-right: 0;
  bottom: 0;
}
  
.app {
  padding: 50px 70px;
  width: 62%;
}

.app_wrap {
  display: unset;
}

.app .app_item {
  margin: 0;
  }
  
.app .app_img {
  display: block;
  width: 50%;
  margin: 100px auto 0;
}

.app .app_img img {
  width: 100%;
  height: auto;
}

.app .descript {
  font-size: 10px;
}

header .drawer {
  visibility: visible;
  width: 24px;
  right: 15px;
  margin: 25px 5px;
  position: absolute;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}

header .navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
}

header .navbar ul {
  display: block;
  text-align: center;
  float: none;
  top: 20%;
}

header .navbar ul li a {
  font: 18px;
  line-height: 2;
}

body.nav-open header .drawer {
  border-top: 0;
}

body.nav-open header .drawer::before {
  top: 9px;
  transform: rotate(-45deg);
}

body.nav-open header .drawer::after {
  top: 9px;
  transform: rotate(45deg);
}

.top {
  padding: 150px 100px 100px 100px;
}

.font1 p {
  font-size: 40px;
}

.font1 small {
  font-size: 10px;
}

.font2 p {
  margin: 75px 0 10px 0;
  font-size: 15px;
}

.font2 small {
  font-size: 10px;
}

.font3 {
  font-size: 30px;
  padding: 30px 0;
}

.section {
  padding: 75px 0;
}

.font4 {
  font-size: 20px;
  padding: 20px 0;
}

.font5 {
  font-size: 13px;
}

.how_to {
  width: 40%;
}

.how_list li {
  font-size: 15px;
}

.faq .txt {
  width: 68%;
  padding: 50px 50px 68px 50px;
}

.faq .txt ul li, p {
  font-size: 14px;
}

.faq .more {
  margin: 1px auto;
  font-size: 10px;
  padding: 7px 10px;
}

.news {
  padding: 100px 0px 75px 0px;
}

.new .twt ul li {
  font-size: 13px;
}

.inner .btn {
  margin-top: 75px;
  font-size: 10px;
  padding: 7px 10px;
}

.footer_logo1 img {
  width: 125px;
}

.footer_logo2 img {
  width: 35px;
}

.pages .grid li {
  font-size: 5px;
  margin-bottom: 10px;
}
}

@media screen and (max-width: 540px) {
header a.logo img {
  width: 40px;
}

header a.logo {
  top: 0;
  padding: 7.5px 8px;
}

header .navbar ul {
  margin: 25px 10px;
}

header .navbar ul li a{
  font-size: 15px;
}

header {
  height: 60px;
}

header .drawer {
  margin: 18px 0;
}

.font1 p {
  font-size: 30px;
}

.font1 small {
  margin-top: 20px;
  display: inline-block;
}

.top {
  padding: 150px 50px 100px 50px;
  background-image: url("../img/main2.jpg");
}

.top .top_img {
  width: 80%;
  height: auto;
}

.top .top_img img {
  width: 100%;
  height: auto;
}

.feature .inner {
  padding: 0;
}

.font2 {
  font-size: 20px;
}

.font2 p {
  margin: 20px 0 10px 0;
  font-size: 13px;
}

.font2 small {
  width: 100%;
}

.font2:after {
  width: 50px;
}

.font3 {
  font-size: 20px;
  padding: 15px 0;
}

.font4 {
  font-size: 15px;
  padding: 20px 0;
}

.app {
  padding: 30px 30px 50px 30px;
  width: 65%;
}

.font5 {
  font-size: 10px;
}

.app .app_img {
  width: 80%;
  margin: 0 auto;
}

.app_item img {
  width: 150px;
}

.how_to {
  width: 38%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.minis {
  background: #fff;
}
.how_list li {
  width: 60%;
  font-size: 10px;
}

.faq .txt {
  padding: 50px 30px;
  width: 65%;
  margin: 0 auto;
  background: linear-gradient(#fff, rgb(187 204 206));
}

.faq .txt ul li, 
p {
  line-height: 2;
  font-size: 10px;
}

.faq .more {
  width: unset;
  margin: 0 200px;
}

.news {
  padding: 60px 0px 75px 0px
}

.news .txt {
  padding: 50px 30px;
  width: 65%;
}

.news .txt ul li {
  font-size: 10px;
  line-height: 2;
}

.contact_btn .btn {
  width: unset;
  margin: 0 70px;
}

.footer_logo1 img {
  width: 100px;
}

.footer_logo2 img {
  width: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pages {
  width: unset;
}

.pages li {
  font-size: 9px;
  margin-bottom: 5px;
}

.mail {
  margin-top: 15px;
}

.section {
  padding: 60px 0;
}

.inner .btn {
  font-size: 8px;
  padding: 7px 10px;
  width: unset;
  margin: 75px 200px 0 200px;
}

footer {
  padding: 0 0;
}
}

@media screen and (max-width: 480px) {
header .navbar ul li a {
    font-size: 13px;
}

.font1 p {
  font-size: 40px;
}

.font1 small {
  margin-top: 10px;
}

.how_to {
  width: 80%;
}

.faq .more {
  margin: 0 125px;
}

.inner .btn {
  margin: 75px 125px 0 125px;
}
}

